init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'
install:
  ps: Bootstrap


build_script:
  - travis-tool.sh install_deps
  - travis-tool.sh install_r Rcpp

test_script:
  - travis-tool.sh run_tests

on_failure:
  - travis-tool.sh dump_logs

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits


version: 1.0.{build}-{branch}

#branches:
#  except:
#    - gh-pages

skip_tags: true

max_jobs: 1

environment:
  global:
    USE_RTOOLS: true
    WARNINGS_ARE_ERRORS: true
  
  matrix:
    - R_VERSION: release
      R_ARCH: x64

    - R_VERSION: devel
      R_ARCH: x64

    - R_VERSION: oldrel
      R_ARCH: x64

cache:
  - C:\RLibrary\

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false
  
  - provider: Slack
    incoming_webhook:
      secure: B6xB+HL9BbAzIABcCOxdDHCBL1q3bSx5LGXnD+lprcJACjK0ce7dumXIp6VHiDURtVmH6EjAUXSPYne3A8Dt2pQaimqwCBMDqhsn/rowDIM=
