.DS_Store
R/.Rhistory
.Rhistory
inst/doc
doc
Meta
.Rproj.user

*.pdf
docs/
revdep/
CRAN-RELEASE
.vscode/
*.o
*.so
*.dll
/doc/
/Meta/
check/distr6_1.6.8.tar.gz
check/distr6.Rcheck/00check.log
check/distr6.Rcheck/00_pkg_src/distr6/DESCRIPTION
check/distr6.Rcheck/00_pkg_src/distr6/LICENSE
check/distr6.Rcheck/00_pkg_src/distr6/NAMESPACE
check/distr6.Rcheck/00_pkg_src/distr6/NEWS.md
check/distr6.Rcheck/00_pkg_src/distr6/README.md
check/distr6.Rcheck/00_pkg_src/distr6/R/as.Distribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/assertions.R
check/distr6.Rcheck/00_pkg_src/distr6/R/c.Distribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/decomposeMixture.R
check/distr6.Rcheck/00_pkg_src/distr6/R/decorate.R
check/distr6.Rcheck/00_pkg_src/distr6/R/distr6_globals.R
check/distr6.Rcheck/00_pkg_src/distr6/R/distr6-deprecated.R
check/distr6.Rcheck/00_pkg_src/distr6/R/distr6-package.R
check/distr6.Rcheck/00_pkg_src/distr6/R/distr6.news.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Distribution_Kernel.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Distribution_SDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Distribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/DistributionDecorator_CoreStatistics.R
check/distr6.Rcheck/00_pkg_src/distr6/R/DistributionDecorator_ExoticStatistics.R
check/distr6.Rcheck/00_pkg_src/distr6/R/DistributionDecorator_FunctionImputation.R
check/distr6.Rcheck/00_pkg_src/distr6/R/DistributionDecorator.R
check/distr6.Rcheck/00_pkg_src/distr6/R/distrSimulate.R
check/distr6.Rcheck/00_pkg_src/distr6/R/exkurtosisType.R
check/distr6.Rcheck/00_pkg_src/distr6/R/generalPNorm.R
check/distr6.Rcheck/00_pkg_src/distr6/R/getParameterSet.R
check/distr6.Rcheck/00_pkg_src/distr6/R/helpers_pdq.R
check/distr6.Rcheck/00_pkg_src/distr6/R/helpers_wrappers.R
check/distr6.Rcheck/00_pkg_src/distr6/R/helpers.R
check/distr6.Rcheck/00_pkg_src/distr6/R/isPdqr.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Cosine.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Epanechnikov.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Logistic.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Normal.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Quartic.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Sigmoid.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Silverman.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Triangular.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Tricube.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Triweight.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Kernel_Uniform.R
check/distr6.Rcheck/00_pkg_src/distr6/R/lines_continuous.R
check/distr6.Rcheck/00_pkg_src/distr6/R/lines_discrete.R
check/distr6.Rcheck/00_pkg_src/distr6/R/lines.R
check/distr6.Rcheck/00_pkg_src/distr6/R/listDecorators.R
check/distr6.Rcheck/00_pkg_src/distr6/R/listDistributions.R
check/distr6.Rcheck/00_pkg_src/distr6/R/listKernels.R
check/distr6.Rcheck/00_pkg_src/distr6/R/listWrappers.R
check/distr6.Rcheck/00_pkg_src/distr6/R/makeUniqueDistributions.R
check/distr6.Rcheck/00_pkg_src/distr6/R/measures.R
check/distr6.Rcheck/00_pkg_src/distr6/R/mixturiseVector.R
check/distr6.Rcheck/00_pkg_src/distr6/R/plot_continuous.R
check/distr6.Rcheck/00_pkg_src/distr6/R/plot_discrete.R
check/distr6.Rcheck/00_pkg_src/distr6/R/plot_distribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/plot_multivariate.R
check/distr6.Rcheck/00_pkg_src/distr6/R/plot_vectordistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/qqplot.R
check/distr6.Rcheck/00_pkg_src/distr6/R/RcppExports.R
check/distr6.Rcheck/00_pkg_src/distr6/R/rep.Distribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Arcsine.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Bernoulli.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Beta.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_BetaNoncentral.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Binomial.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Categorical.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Cauchy.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_ChiSquared.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_ChiSquaredNoncentral.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Degenerate.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Dirichlet.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_DiscreteUniform.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Empirical.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_EmpiricalMultivariate.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Erlang.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Exponential.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_FDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_FDistributionNoncentral.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Frechet.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Gamma.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Geometric.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Gompertz.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Gumbel.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Hypergeometric.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_InverseGamma.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Laplace.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Logarithmic.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Logistic.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Loglogistic.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Lognormal.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Matrix.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Multinomial.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_MultivariateNormal.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_NegBinomal.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Normal.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Pareto.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Poisson.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Rayleigh.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_ShiftedLoglogistic.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_StudentT.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_StudentTNoncentral.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Triangular.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Uniform.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Wald.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_Weibull.R
check/distr6.Rcheck/00_pkg_src/distr6/R/SDistribution_WeightedDiscrete.R
check/distr6.Rcheck/00_pkg_src/distr6/R/sets.R
check/distr6.Rcheck/00_pkg_src/distr6/R/simulateEmpiricalDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/skewType.R
check/distr6.Rcheck/00_pkg_src/distr6/R/sugar.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Wrapper_Convolution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Wrapper_HuberizedDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Wrapper_MixtureDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Wrapper_ProductDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Wrapper_Scale.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Wrapper_TruncatedDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Wrapper_VectorDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/R/Wrapper.R
check/distr6.Rcheck/00_pkg_src/distr6/R/zzz.R
check/distr6.Rcheck/00_pkg_src/distr6/build/vignette.rds
check/distr6.Rcheck/00_pkg_src/distr6/man/Arcsine.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/as.Distribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/as.MixtureDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/as.ProductDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/as.VectorDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Bernoulli.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Beta.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/BetaNoncentral.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Binomial.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/c.Distribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Categorical.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Cauchy.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/ChiSquared.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/ChiSquaredNoncentral.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Convolution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/CoreStatistics.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Cosine.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/decorate.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Degenerate.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Dirichlet.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/DiscreteUniform.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/distr6-deprecated.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/distr6-package.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/distr6News.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Distribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/DistributionDecorator.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/DistributionWrapper.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/distrSimulate.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/dstr.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Empirical.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/EmpiricalMV.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Epanechnikov.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Erlang.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/exkurtosisType.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/ExoticStatistics.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Exponential.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/FDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/FDistributionNoncentral.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Frechet.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/FunctionImputation.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Gamma.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/generalPNorm.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Geometric.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Gompertz.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/gprm.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Gumbel.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/huberize.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/HuberizedDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Hypergeometric.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/InverseGamma.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Kernel.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Laplace.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/length.VectorDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/lines.Distribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/listDecorators.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/listDistributions.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/listKernels.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/listWrappers.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Logarithmic.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Logistic.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/LogisticKernel.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Loglogistic.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Lognormal.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/makeUniqueDistributions.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Matdist.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/MixtureDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/mixturiseVector.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Multinomial.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/MultivariateNormal.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/NegativeBinomial.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Normal.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/NormalKernel.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Pareto.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/plot.Distribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/plot.VectorDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Poisson.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/ProductDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/qqplot.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Quartic.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Rayleigh.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/rep.Distribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/SDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/ShiftedLoglogistic.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Sigmoid.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Silverman.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/simulateEmpiricalDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/skewType.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/StudentT.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/StudentTNoncentral.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/sub-.VectorDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testContinuous.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testDiscrete.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testDistributionList.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testLeptokurtic.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testMatrixvariate.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testMesokurtic.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testMixture.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testMultivariate.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testNegativeSkew.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testNoSkew.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testParameterSet.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testParameterSetList.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testPlatykurtic.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testPositiveSkew.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testSymmetric.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/testUnivariate.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Triangular.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/TriangularKernel.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Tricube.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Triweight.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/truncate.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/TruncatedDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Uniform.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/UniformKernel.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/VectorDistribution.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Wald.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/Weibull.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/WeightedDiscrete.Rd
check/distr6.Rcheck/00_pkg_src/distr6/man/figures/logo.png
check/distr6.Rcheck/00_pkg_src/distr6/src/base_dpq.cpp
check/distr6.Rcheck/00_pkg_src/distr6/src/Distributions.cpp
check/distr6.Rcheck/00_pkg_src/distr6/src/Imputers.cpp
check/distr6.Rcheck/00_pkg_src/distr6/src/Kernels.cpp
check/distr6.Rcheck/00_pkg_src/distr6/src/RcppExports.cpp
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/helpers.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-asDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-assertions.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-cDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-checks.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-cpp-helpers.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-cpp-imputers.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-decorator-corestatistics.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-decorator-exoticstatistics.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-decorator-functionimputation.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-decorator.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-distribution-SDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-distributionHelpers.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-distrSimulate.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-helpers.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-cosine.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-epanechnikov.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-logistic.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-normal.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-quartic.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-sigmoid.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-silverman.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-triangular.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-tricube.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-triweight.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel-uniform.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-kernel.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-methods.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-mixturiseVector.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-plot-lines.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-plot-qqplot.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-plot-vector.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-plot.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-repDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Arcsine.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Bernoulli.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Beta.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-BetaNoncentral.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Binomial.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Categorical.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Cauchy.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-ChiSquared.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-ChiSquaredNoncentral.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Degenerate.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Dirichlet.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-DiscreteUniform.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Empirical.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-EmpiricalMV.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Erlang.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Exponential.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-FDistribution.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-FDistributionNoncentral.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Frechet.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Gamma.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Geometric.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Gompertz.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Gumbel.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Hypergeometric.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-InverseGamma.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Laplace.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Logarithmic.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Logistic.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-LogLogistic.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Lognormal.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Matdist.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Multinomial.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-MultivariateNormal.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-NegativeBinomial.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Normal.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Pareto.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Poisson.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Rayleigh.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-ShiftedLogLogistic.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-StudentT.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-StudentTNoncentral.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Triangular.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Uniform.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Wald.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-Weibull.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sdistribution-WeightedDiscrete.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-simulateEmpirical.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-sugar.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-wrapper-convolution.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-wrapper-huberize.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-wrapper-mixture.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-wrapper-product.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-wrapper-scale.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-wrapper-truncation.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-wrapper-vector.R
check/distr6.Rcheck/00_pkg_src/distr6/tests/testthat/test-wrapper.R
check/distr6.Rcheck/00_pkg_src/distr6/vignettes/distr6.rmd
check/distr6.Rcheck/R_check_bin/R
check/distr6.Rcheck/R_check_bin/Rscript
check/distr6.Rcheck/00install.out
check/distr6.Rcheck/distr6-Ex.R
check/distr6.Rcheck/distr6-Ex.Rout
check/distr6.Rcheck/distr6-Ex.timings
check/distr6.Rcheck/00_pkg_src/distr6/src/symbols.rds
check/distr6.Rcheck/distr6/DESCRIPTION
check/distr6.Rcheck/distr6/INDEX
check/distr6.Rcheck/distr6/LICENSE
check/distr6.Rcheck/distr6/NAMESPACE
check/distr6.Rcheck/distr6/NEWS.md
check/distr6.Rcheck/distr6/R/distr6
check/distr6.Rcheck/distr6/R/distr6.rdb
check/distr6.Rcheck/distr6/R/distr6.rdx
check/distr6.Rcheck/distr6/help/aliases.rds
check/distr6.Rcheck/distr6/help/AnIndex
check/distr6.Rcheck/distr6/help/distr6.rdb
check/distr6.Rcheck/distr6/help/distr6.rdx
check/distr6.Rcheck/distr6/help/paths.rds
check/distr6.Rcheck/distr6/help/figures/logo.png
check/distr6.Rcheck/distr6/html/00Index.html
check/distr6.Rcheck/distr6/html/R.css
check/distr6.Rcheck/distr6/libs/symbols.rds
check/distr6.Rcheck/tests/startup.Rs
check/distr6.Rcheck/tests/testthat.R
check/distr6.Rcheck/tests/testthat.Rout
check/distr6.Rcheck/tests/testthat/helpers.R
check/distr6.Rcheck/tests/testthat/test-asDistribution.R
check/distr6.Rcheck/tests/testthat/test-assertions.R
check/distr6.Rcheck/tests/testthat/test-cDistribution.R
check/distr6.Rcheck/tests/testthat/test-checks.R
check/distr6.Rcheck/tests/testthat/test-cpp-helpers.R
check/distr6.Rcheck/tests/testthat/test-cpp-imputers.R
check/distr6.Rcheck/tests/testthat/test-decorator-corestatistics.R
check/distr6.Rcheck/tests/testthat/test-decorator-exoticstatistics.R
check/distr6.Rcheck/tests/testthat/test-decorator-functionimputation.R
check/distr6.Rcheck/tests/testthat/test-decorator.R
check/distr6.Rcheck/tests/testthat/test-distribution-SDistribution.R
check/distr6.Rcheck/tests/testthat/test-distributionHelpers.R
check/distr6.Rcheck/tests/testthat/test-distrSimulate.R
check/distr6.Rcheck/tests/testthat/test-helpers.R
check/distr6.Rcheck/tests/testthat/test-kernel-cosine.R
check/distr6.Rcheck/tests/testthat/test-kernel-epanechnikov.R
check/distr6.Rcheck/tests/testthat/test-kernel-logistic.R
check/distr6.Rcheck/tests/testthat/test-kernel-normal.R
check/distr6.Rcheck/tests/testthat/test-kernel-quartic.R
check/distr6.Rcheck/tests/testthat/test-kernel-sigmoid.R
check/distr6.Rcheck/tests/testthat/test-kernel-silverman.R
check/distr6.Rcheck/tests/testthat/test-kernel-triangular.R
check/distr6.Rcheck/tests/testthat/test-kernel-tricube.R
check/distr6.Rcheck/tests/testthat/test-kernel-triweight.R
check/distr6.Rcheck/tests/testthat/test-kernel-uniform.R
check/distr6.Rcheck/tests/testthat/test-kernel.R
check/distr6.Rcheck/tests/testthat/test-methods.R
check/distr6.Rcheck/tests/testthat/test-mixturiseVector.R
check/distr6.Rcheck/tests/testthat/test-plot-lines.R
check/distr6.Rcheck/tests/testthat/test-plot-qqplot.R
check/distr6.Rcheck/tests/testthat/test-plot-vector.R
check/distr6.Rcheck/tests/testthat/test-plot.R
check/distr6.Rcheck/tests/testthat/test-repDistribution.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Arcsine.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Bernoulli.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Beta.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-BetaNoncentral.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Binomial.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Categorical.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Cauchy.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-ChiSquared.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-ChiSquaredNoncentral.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Degenerate.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Dirichlet.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-DiscreteUniform.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Empirical.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-EmpiricalMV.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Erlang.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Exponential.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-FDistribution.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-FDistributionNoncentral.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Frechet.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Gamma.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Geometric.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Gompertz.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Gumbel.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Hypergeometric.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-InverseGamma.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Laplace.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Logarithmic.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Logistic.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-LogLogistic.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Lognormal.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Matdist.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Multinomial.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-MultivariateNormal.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-NegativeBinomial.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Normal.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Pareto.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Poisson.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Rayleigh.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-ShiftedLogLogistic.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-StudentT.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-StudentTNoncentral.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Triangular.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Uniform.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Wald.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-Weibull.R
check/distr6.Rcheck/tests/testthat/test-sdistribution-WeightedDiscrete.R
check/distr6.Rcheck/tests/testthat/test-simulateEmpirical.R
check/distr6.Rcheck/tests/testthat/test-sugar.R
check/distr6.Rcheck/tests/testthat/test-wrapper-convolution.R
check/distr6.Rcheck/tests/testthat/test-wrapper-huberize.R
check/distr6.Rcheck/tests/testthat/test-wrapper-mixture.R
check/distr6.Rcheck/tests/testthat/test-wrapper-product.R
check/distr6.Rcheck/tests/testthat/test-wrapper-scale.R
check/distr6.Rcheck/tests/testthat/test-wrapper-truncation.R
check/distr6.Rcheck/tests/testthat/test-wrapper-vector.R
check/distr6.Rcheck/tests/testthat/test-wrapper.R
